body
{
  background-color: #e3e3e3;
  text-decoration-style: solid;
  font-family: sans-serif;
}

.wrap
{
  text-align:center;
  width: 70%;
  background: red;
  min-width:400px;
  margin: auto;
  overflow: hidden;

}

.content,aside
{
  height:600px;
}
.content
{
  text-align: center;
  width:80%;
  background-color:orange;
  float:left;
}

a
{
  text-decoration: none;
}
aside
{
  width:20%;
  background-color: green;
  float:left;
}

aside ul
{
  list-style: none;
  padding-left:0;
}

footer
{
  clear:both;
}
