body {
    font-family: sans-serif;
    min-width: 800px;
}
div.wrap {
    background: white;
    position: fixed;
    width: 100%;
    height: 120px;
}
.first,.second,.third,.fourth
{
  background:#EBF4FA;
}

.first
{
  padding top:40px;
  padding-bottom:60px;
}
.second
{
  padding top:60px;
  padding-bottom: 60px;
}

.third
{
  padding top:60px;
  padding-bottom: 60px;
}

.fourth
{
  padding top:40px;
  padding-bottom: 60px;
}
div.wrap img {
    padding-top: 20px;
    width: 400px;
    height: 300px;
}
p{
  text-align:justify;
}
#Main-content{
  padding-top: 40px;
  text-align: center;
}
header h1 a {
    text-decoration: none;
    color: black;
}
header h1 {
    background: url("./../img/goal.jpg") no-repeat;
    width: 110px;
    height: 59px;
    margin-top: 30px;
    text-indent: -9999px;
    margin-left: 200px;
    display: inline;
    float: left;
}
nav.menu {
    text-transform: capitalize;
    float: right;
    font-size: 26px;
    margin-top: 40px;
    margin-right: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
nav ul li {
    display: inline;
    text-decoration: none;
    text-transform: capitalize;
}
a:hover {
    color: red;
}
div.service-box ol li a:hover {
    color: red;
}
ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

div.hero {
    background: url("./../img/hero.jpg") no-repeat;
    height:452px;
}
div.service-box {
    background-color: #e3e3e3;
    padding-top: 120px;
    margin-top: 0px;
    height: 150px;
}
div.box2 ol li  {
    text-decoration: none;
    font-size: 18px;
    padding-left: -10px;
}
div.box2 ol li a {
    text-decoration: none;
    font-size: 18px;
    padding:-10px;
    color: black;
}
#subcontent
{
 font-size: 18px;
}
div.box2 ol li::after {
    content: ' /';
}
div.box2 ol li:last-child::after {
    content: '';
}
h1 {
    text-transform: uppercase;
}
h3 {
    text-transform: uppercase;
}
div.box1 h1 {
    font-size: 25px;
}
div.box1 {
    padding-top: 25px;
    float: left;
    margin-top: 20px;
    margin-left: 60px;
}
div.box2 {
    float: right;
    margin-top: 40px;
    margin-right: 200px;
}
div.box2 ol li {
    display: inline;
}

div.container_12 {
    margin: auto;
}
div.fbox {
    padding-bottom: 20px;
}
div.fbox-desc h3 {
    text-decoration-color: grey;
}
span.subtitle {
    padding-top: 20px;
}
div.fbox-desc p.sub {
    color: grey;
}
img.aligncenter {
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
div.heading-block h2 {
    text-transform: uppercase;
}
div .heading-block {
    margin-top: 30px;
}
p.sub {
    font-weight: bold;
    font-size: 18px;
}
div .heading-block {
    text-align: center;
}
div.wrap-transfer a {
    text-decoration: none;
    color: grey;
}
div.wrap-transfer p {
    font-size: 16px;
}

div.wrap-transfer a:hover {
    text-decoration: none;
    color: red;
}
div.fbox1 {

}
div.fbox2 img {

}
.fifth {
    background-color: black;
    color: white;
}
.alpha
{
  padding-left: 10px;
}
.sixth
{
  background-color:#EBF4FA;
}
li.list-item {
    list-style: none;
    color: white;
}
.first-wrap a {
    color: white;
}
.first-wrap a:hover {
    color: red;
}
ul li.list-ss {
    list-style: none;
}
ul.list-cc li{
  list-style: none;
  text-decoration: none;
}
ul.list-cc li a{
  color: blue;
}
ul.list-cc li a:hover{
  color: red;
}

li.list-ss {
    list-style: none;
    padding-bottom: 10px;
    padding-top: 2px;
}
#copy {
    text-align: justify;
    font-weight: bold;
    text-shadow: 5px;
}
